{% extends 'base.html.twig' %}
{% block body %}
<style>
       body{
                background-color: #cecece;
                overflow: scroll;
        }
</style>
<div class="topPageAuthentication" >
        <div class="logo_authentication" >
                <a href={{ path ("setting") }}><img src="./image/back_white.svg" /></a>
                <h2>パスワードを変更</h2>
        </div>
</div>
<div class="frame-inputPassword">
    <div class="inputOldPassword">
        <input type="password" placeholder="現在のパスワード">

    </div>
    <div class="inputOldPassword">

        <input type="password" placeholder="新しいパスワード">
    </div>
        <div class="inputNewPassword">
        
        <input type="password" placeholder="現在のパスワードを再入力">
        </div>
</div>
<div class="note-changePassword" align="center">
        <p>電話番号を変更すると、電話の再認証が必要です。</p>
        <button>保存</button>
</div>                
{% endblock %}