{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <style>
    body
    {
        background-color: white;
        width: 100%;
    }
    </style>

<div class="myTopRegister animated fadeInLeft">
            <a href={{ path ("login_enter") }}><i class="fa fa-chevron-left" ></i></a>
            <h2 align="center">パスワード忘れ</h2>
</div>
<div class="logoFogotPass" align="center">
        <svg  viewBox="-368 -2098 160 170">
        <defs>
    <style>
      .cls-1 {
        fill: #a62224;
      }

      .cls-2 {
        fill: #cecece;
      }

      .cls-3 {
        fill: #fff;
      }

      .cls-4, .cls-7, .cls-9 {
        fill: none;
      }

      .cls-4 {
        stroke: #aaa;
        stroke-width: 0.5px;
      }

      .cls-4, .cls-7, .cls-8, .cls-9 {
        stroke-miterlimit: 10;
      }

      .cls-5 {
        fill: #666;
      }

      .cls-6 {
        fill: #aaa;
      }

      .cls-7, .cls-9 {
        stroke: #000;
      }

      .cls-7, .cls-8, .cls-9 {
        stroke-width: 5px;
      }

      .cls-8 {
        fill: #dc9728;
        stroke: #dc9728;
      }

      .cls-9 {
        stroke-linecap: round;
      }
    </style>
  </defs>
        <g id="グループ化_1469" data-name="グループ化 1469" transform="translate(-476 -2188)">
                <g id="グループ化_837" data-name="グループ化 837">
                <path id="パス_820" data-name="パス 820" class="cls-1" d="M80,0,10,10A9.9,9.9,0,0,0,0,20V60c0,85,80,110,80,110s80-25,80-110V20a9.9,9.9,0,0,0-10-10L80,0Z" transform="translate(108 90)"/>
                <g id="グループ化_824" data-name="グループ化 824" transform="translate(161 120)">
                <path id="パス_805" data-name="パス 805" class="cls-2" d="M47.25,100h-40A6.189,6.189,0,0,1,1,93.75V6.25A6.189,6.189,0,0,1,7.25,0h40A6.189,6.189,0,0,1,53.5,6.25v87.5A6.189,6.189,0,0,1,47.25,100Z" transform="translate(0.25)"/>
                <path id="パス_806" data-name="パス 806" class="cls-3" d="M46.25,100h-40A6.189,6.189,0,0,1,0,93.75V6.25A6.189,6.189,0,0,1,6.25,0h40A6.189,6.189,0,0,1,52.5,6.25v87.5A6.189,6.189,0,0,1,46.25,100Z"/>
                <path id="パス_809" data-name="パス 809" class="cls-2" d="M0,0H47.5V75H0Z" transform="translate(2.5 12.5)"/>
                <circle id="楕円形_158" data-name="楕円形 158" class="cls-4" cx="4" cy="4" r="4" transform="translate(22.25 90.125)"/>
                <circle id="楕円形_159" data-name="楕円形 159" cx="1" cy="1" r="1" transform="translate(18.125 5.25)"/>
                <path id="パス_807" data-name="パス 807" class="cls-5" d="M25.75,5.6H18a.538.538,0,0,1-.5-.5h0a.538.538,0,0,1,.5-.5h7.75a.538.538,0,0,1,.5.5h0A.538.538,0,0,1,25.75,5.6Z" transform="translate(4.375 1.15)"/>
                <rect id="長方形_489" data-name="長方形 489" class="cls-3" width="1.25" height="1.25" transform="translate(52.5 7.625)"/>
                <rect id="長方形_490" data-name="長方形 490" class="cls-3" width="1.25" height="1.25" transform="translate(52.5 91.875)"/>
                <path id="パス_808" data-name="パス 808" class="cls-6" d="M43.225,17.3a.572.572,0,0,0-.625.5v5.25a.572.572,0,0,0,.625.5Z" transform="translate(10.65 4.325)"/>
        </g>
        </g>
        <g id="グループ化_838" data-name="グループ化 838" transform="translate(170.5 143.5)">
                <path id="パス_821" data-name="パス 821" class="cls-7" d="M26.224,21.317H7.5V11.862A9.389,9.389,0,0,1,16.862,2.5h0a9.389,9.389,0,0,1,9.362,9.362Z" transform="translate(-0.319 0)"/>
                <path id="パス_822" data-name="パス 822" class="cls-8" d="M28.994,46H4.092A1.578,1.578,0,0,1,2.5,44.413V24.192A1.578,1.578,0,0,1,4.092,22.6H28.9a1.578,1.578,0,0,1,1.592,1.592V44.32A1.529,1.529,0,0,1,28.994,46Z" transform="translate(0 -1.283)"/>
                <line id="線_42" data-name="線 42" class="cls-9" y2="4.681" transform="translate(16.543 30.679)"/>
        </g>
        </g>
        </svg>
</div>
<div class="myInputRegister" align="center">
         <div class="customInputRe">
                <div class="marginInput">
                <span>
                        <svg width="4vw" viewBox="-2097 -1927 13.988 18.001">
                        <defs>
                        <style>
                        .cls-11 {
                        fill: none;
                        stroke: #a62224;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                        }
                        .cls-22 {
                        fill: #a62224;
                        }
                        </style>
                        </defs>
                <g id="グループ化_45" data-name="グループ化 45" transform="translate(-2160 -2179)">
                <path id="パス_475" data-name="パス 475" class="cls-11" d="M1,16.355V1.682A.7.7,0,0,1,1.682,1H12.306a.676.676,0,0,1,.682.682V16.315a.676.676,0,0,1-.682.682H1.682A.643.643,0,0,1,1,16.355Z" transform="translate(63 252)"/>
                <circle id="楕円形_13" data-name="楕円形 13" class="cls-22" cx="1.002" cy="1.002" r="1.002" transform="translate(69.011 265.028)"/>
                </g>
                        </svg>
                </span>              
                    <input id="fullname" type="text"  name="fullname" placeholder="認証した電話番号を入力" required>                   
                </div>
        </div>
        <div class="submitInputRe" >
                <input id="submit" type="submit" value="電話認証番号をもらう"  />       
        </div>
</div>
{% endblock %}       