{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
<style>
    body
    {
        background-color: white;
        width: 100%;
    }
 </style>
 <div class="titleForgot" align="center">
     パスワード再設定
 </div>
<div class="logoFogotPass" align="center">
         <svg  viewBox="47 -2098 160 170">
        <defs>
    <style>
      .cls-1 {
        fill: #a62224;
      }

      .cls-2 {
        fill: #cecece;
      }

      .cls-3 {
        fill: #fff;
      }

      .cls-4, .cls-7, .cls-8, .cls-9 {
        fill: none;
      }

      .cls-4 {
        stroke: #aaa;
        stroke-width: 0.5px;
      }

      .cls-4, .cls-7, .cls-8 {
        stroke-miterlimit: 10;
      }

      .cls-5 {
        fill: #666;
      }

      .cls-6 {
        fill: #aaa;
      }

      .cls-7, .cls-8, .cls-9 {
        stroke: #a62224;
        stroke-width: 5px;
      }

      .cls-8, .cls-9 {
        stroke-linecap: round;
      }

      .cls-8 {
        stroke-linejoin: round;
      }
    </style>
  </defs>
  <g id="グループ化_1468" data-name="グループ化 1468" transform="translate(-61 -2188)">
    <path id="パス_820" data-name="パス 820" class="cls-1" d="M80,0,10,10A9.9,9.9,0,0,0,0,20V60c0,85,80,110,80,110s80-25,80-110V20a9.9,9.9,0,0,0-10-10L80,0Z" transform="translate(108 90)"/>
    <g id="グループ化_824" data-name="グループ化 824" transform="translate(161 120)">
      <path id="パス_805" data-name="パス 805" class="cls-2" d="M47.25,100h-40A6.189,6.189,0,0,1,1,93.75V6.25A6.189,6.189,0,0,1,7.25,0h40A6.189,6.189,0,0,1,53.5,6.25v87.5A6.189,6.189,0,0,1,47.25,100Z" transform="translate(0.25)"/>
      <path id="パス_806" data-name="パス 806" class="cls-3" d="M46.25,100h-40A6.189,6.189,0,0,1,0,93.75V6.25A6.189,6.189,0,0,1,6.25,0h40A6.189,6.189,0,0,1,52.5,6.25v87.5A6.189,6.189,0,0,1,46.25,100Z"/>
      <path id="パス_809" data-name="パス 809" class="cls-2" d="M0,0H47.5V75H0Z" transform="translate(2.5 12.5)"/>
      <circle id="楕円形_158" data-name="楕円形 158" class="cls-4" cx="4" cy="4" r="4" transform="translate(22.25 90.125)"/>
      <circle id="楕円形_159" data-name="楕円形 159" cx="1" cy="1" r="1" transform="translate(18.125 5.25)"/>
      <path id="パス_807" data-name="パス 807" class="cls-5" d="M25.75,5.6H18a.538.538,0,0,1-.5-.5h0a.538.538,0,0,1,.5-.5h7.75a.538.538,0,0,1,.5.5h0A.538.538,0,0,1,25.75,5.6Z" transform="translate(4.375 1.15)"/>
      <rect id="長方形_489" data-name="長方形 489" class="cls-3" width="1.25" height="1.25" transform="translate(52.5 7.625)"/>
      <rect id="長方形_490" data-name="長方形 490" class="cls-3" width="1.25" height="1.25" transform="translate(52.5 91.875)"/>
      <path id="パス_808" data-name="パス 808" class="cls-6" d="M43.225,17.3a.572.572,0,0,0-.625.5v5.25a.572.572,0,0,0,.625.5Z" transform="translate(10.65 4.325)"/>
    </g>
    <g id="グループ化_835" data-name="グループ化 835" transform="matrix(0.966, -0.259, 0.259, 0.966, 171.065, 149.214)">
      <circle id="楕円形_163" data-name="楕円形 163" class="cls-7" cx="8.889" cy="8.889" r="8.889" transform="translate(2.5 2.5)"/>
      <g id="グループ化_834" data-name="グループ化 834" transform="translate(11.389 20.278)">
        <line id="線_39" data-name="線 39" class="cls-8" y2="22.222" transform="translate(0)"/>
      </g>
      <path id="パス_826" data-name="パス 826" class="cls-9" d="M7.111,0H0" transform="translate(4.278 42.5)"/>
      <path id="パス_825" data-name="パス 825" class="cls-9" d="M7.111,0H0" transform="translate(4.278 33.611)"/>
    </g>
  </g>
</svg>
</div>
<div class="myInputRegister" align="center">
                  <div class="customInputRe">
                    <div class="marginInput">
                        <span>
                         <svg width="25%" viewBox="-2097 -1852 14.001 18">
                        <defs>
                        <style>
                        .cls-11, .cls-22 {
                        fill: none;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                        }
                        .cls-11 {
                        stroke: #a62224;
                        }
                        .cls-22 {
                        stroke: #ae2124;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        }
                        </style>
                        </defs>
                        <g id="グループ化_46" data-name="グループ化 46" transform="translate(-2151 -2168)">
                        <g id="グループ化_16" data-name="グループ化 16" transform="translate(-19.5 51)">
                                <path id="パス_471" data-name="パス 471" class="cls-11" d="M12.355,26H1.682A.675.675,0,0,1,1,25.32V16.68A.675.675,0,0,1,1.682,16H12.315a.675.675,0,0,1,.682.68v8.6A.654.654,0,0,1,12.355,26Z" transform="translate(73.5 256)"/>
                                <path id="パス_472" data-name="パス 472" class="cls-11" d="M14,7H6V5a4.012,4.012,0,0,1,4-4h0a4.012,4.012,0,0,1,4,4Z" transform="translate(70.5 265)"/>
                        </g>
                                <line id="線_4" data-name="線 4" class="cls-22" y2="2" transform="translate(61 327)"/>
                        </g>
                        </svg>
                        </span>              
                    <input id="fullname" type="text"  name="fullname" placeholder="Password" required>                   
                </div>
            </div>
            <div class="customInputRe">
                    <div class="marginInput">
                        <span>
                        <svg width="25%" viewBox="-2097 -1852 14.001 18">
                        <defs>
                        <style>
                        .cls-11, .cls-22 {
                        fill: none;
                        stroke-miterlimit: 10;
                        stroke-width: 2px;
                        }
                        .cls-11 {
                        stroke: #a62224;
                        }
                        .cls-22 {
                        stroke: #ae2124;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        }
                        </style>
                        </defs>
                        <g id="グループ化_46" data-name="グループ化 46" transform="translate(-2151 -2168)">
                        <g id="グループ化_16" data-name="グループ化 16" transform="translate(-19.5 51)">
                                <path id="パス_471" data-name="パス 471" class="cls-11" d="M12.355,26H1.682A.675.675,0,0,1,1,25.32V16.68A.675.675,0,0,1,1.682,16H12.315a.675.675,0,0,1,.682.68v8.6A.654.654,0,0,1,12.355,26Z" transform="translate(73.5 256)"/>
                                <path id="パス_472" data-name="パス 472" class="cls-11" d="M14,7H6V5a4.012,4.012,0,0,1,4-4h0a4.012,4.012,0,0,1,4,4Z" transform="translate(70.5 265)"/>
                        </g>
                                <line id="線_4" data-name="線 4" class="cls-22" y2="2" transform="translate(61 327)"/>
                        </g>
                        </svg>
                        </span>               
                    <input id="fullname" type="text"  name="fullname" placeholder="Confirm Password" required>                   
                </div>
               </div>
            <div class="submitInputRe" >
                <input id="submit" type="submit" value="リセット"  />       
            </div>
  </div>
{% endblock %}

