{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block body %}
<div class="topNofication" style="background-color: #A62224" align="center">
        <img src="./image/logo.svg" />
</div>
<div class="tip-nofi">
        <div class="imgTip">
                <img id="img-avatar" src="https://sociorocketnewsen.files.wordpress.com/2014/07/macopic.jpg?w=580&h=434"  />
                <img id="img-tip" src="./image/tip/tip_bronze.svg" />
        </div>
        <div class="info-tip">
                <p>三谷由里</p>
                <p>さんがあなたの投稿に3TIPを送り</p>
                <p>ました！</p><br>
                <p id="2">3分前</p>                          
        </div>
</div>
<div class="tip-nofi">
        <div class="imgTip">
                <img id="img-avatar" src="./image/mission_compelete.svg"  />
                
        </div>
        <div class="info-tip">
                <p>三谷由里</p>
                <p>さんがあなたの投稿に3TIPを送り</p>
                <p>ました！</p><br>
                <p id="2">3分前</p>                          
        </div>
</div>
<div class="tip-nofi">
        <div class="imgTip">
                <img id="img-avatar" src="./image/group.svg"  />
                
        </div>
        <div class="info-tip">
                <p>三谷由里</p>
                <p>さんがあなたの投稿に3TIPを送り</p>
                <p>ました！</p><br>
                <p id="2">3分前</p>                          
        </div>
</div>
<div class="tip-nofi">
        <div class="imgTip">
                <img id="img-avatar" src="http://www.syncmusic.jp/wordpress/wp-content/uploads/2012/03/Jun-Shibata-460x280.jpg"  />
                <img id="img-tip" src="./image/tip/tip_gold.svg" />
        </div>
        <div class="info-tip">
                <p>三谷由里</p>
                <p>さんがあなたの投稿に3TIPを送り</p>
                <p>ました！</p><br>
                <p id="2">3分前</p>                          
        </div>
</div>
{% include ("security/menu-base.html.twig") %}     
{% endblock%}